.classify {
  display: flex;
  // justify-content: center;
  margin: 0 0 30px 30px;
  width: 100%;
  align-items: center;
  padding-left: 20px;
  // box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  box-shadow: 0 0 0 2px #f5f5f5;
}
.classify-btn {
  width: 200px;
  height: 50px;
  background-color: var(--white);
  margin-right: 30px;
  font-size: 1.6rem;
  color: var(--text-color);
  border-radius: 6px;
  cursor: pointer;
  &.active {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
  }
  // border: 1px solid var(--primary);
}
.request-name {
  margin-left: 50px;
}
