.wrapper {
  display: flex;
  justify-content: space-between;
  //   width: 700px;
}
.title {
  display: flex;
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  height: 100px;
  border: 2px solid transparent;
  position: relative;
  // border-image-slice: 1;
  // border-image-source: linear-gradient(to right bottom, #6a5af9, #f62682);
  justify-content: center;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: -4px;
    background-image: linear-gradient(to right top, #ff8229, #07a787);
    border-radius: inherit;
  }

  &:first-child {
    // border: 2px solid #ffff00;
    border: 2px solid transparent;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      margin: -4px;
      background-image: linear-gradient(to right top, #2979ff, #07a787);
      border-radius: inherit;
    }
  }

  &:nth-child(2) {
    // border: 2px solid #333;
    border: 2px solid transparent;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      margin: -4px;
      background-image: linear-gradient(to right bottom, #6a5af9, #f62682);
      border-radius: inherit;
    }
  }

  &:last-child {
    // border: 2px solid #00ff99;
    border: 2px solid transparent;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      margin: -4px;
      background-image: linear-gradient(to right bottom, #30845b, #c4d93c);
      border-radius: inherit;
    }
  }
}

.title {
  .icon {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-right: 6px;
    border-radius: 50%;

    &.first {
      border: 1px solid #487cac;
      color: #487cac;
    }

    &.second {
      border: 1px solid #333;
      color: #333;
    }

    &.third {
      border: 1px solid red;
      color: red;
    }

    &.four {
      border: 1px solid #44a385;
      color: #44a385;
    }
  }
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item-name {
  margin-bottom: 10px;
}
.item-result {
}
