.wrapper {
    padding: 0 30px;
}
.header {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--primary);
}
.body {
}
.body-image {
    text-align: center;
    margin-bottom: 30px;
}
.img {
    width: auto;
    height: 500px;
    object-fit: contain;
    // text-align: center;
}
.body-content {
    margin-bottom: 30px;
}
.body-content--text {
    font-size: 1.8rem;
    color: var(--text-color);
}
.container-label {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary);
}
