.wrapper {
    padding: 10px;
    border-radius: 5px;
}
.info {
    // background: #f1f1f1;
    // min-height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 100;
    background-color: var(--white);
    margin-bottom: 30px;
    // border-radius: 6px;
}
.form {
    // width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    width: 500px;

    // margin: 24px;
    align-self: center;
    // box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}
.form .heading {
    font-size: 2rem;
}
.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;

    &:hover {
        border-color: var(--primary);
    }
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
    color: #f33a58;
}

.button {
    display: flex;
}

.form-submit {
    outline: none;
    background-color: var(--primary);
    margin: 12px 4px;
    padding: 8px 10px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 500px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background-color: #ef2950;
    }
}
.wrapper-has {
    background-color: var(--white);
    margin-bottom: 30px;
}
.header {
    display: flex;
    padding: 10px 6px;
}
.product {
    width: 46.27949%;
    color: var(--text-color);
    padding-bottom: 20px;
}
.type {
    display: flex;
    flex: 1;
    justify-content: space-around;
}
.type-item {
    font-size: 1.4rem;
    color: #aaa;
    font-weight: 400;
    padding-left: 30px;
}
.body {
}
.product-item {
    display: flex;
    border-top: 1px solid var(--primary);
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
.body-left,
.body-right,
.body-product {
    display: flex;
    align-items: center;
    // justify-content: center;
}
.body-left {
    width: 47.27949%;
    padding-right: 14px;
    display: flex;
    justify-content: space-between;
}
.body-check {
    // margin-right: 10px;
}
.body-check_btn {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.body-products {
    width: 100%;
}
.body-product {
    // width: 318px;
}
.body-product_img {
    width: 80px;
    height: 80px;
    margin: 0 10px;
}
.body-product_name {
    font-size: 1.4rem;
    color: var(--text-color);
    font-size: 400;
}
.body-right {
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.body-size {
    display: flex;
    position: relative;
}
.body-size_wrapper {
}
.body-size_icon {
    font-size: 1rem;
    cursor: pointer;
    padding-left: 4px;
}
.body-size_change {
    position: absolute;
    right: 0;
    z-index: 5;
    display: none;

    &.active {
        display: block;
    }
}
.body-price {
    font-size: 1.4rem;
    margin-left: 28px;
}
.body-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.4265%;
}
.quantity-btn {
    width: 25px;
    height: 25px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        cursor: pointer;
        background-color: var(--primary-new);
    }
}
.quantity-number {
    margin: 0 8px;
}
.body-price-new {
    color: var(--primary);
}
.body-delete {
    font-size: 1.4 rem;
    cursor: pointer;
    margin-right: 4px;
}
.footer {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;
    // position: -webkit-sticky; /* Safari */
    // position: sticky;
    // bottom: 0;
    // z-index: 2;
    background-color: var(--white);
}
.footer-product {
    font-size: 1.5rem;
    color: var(--text-color);
}
.footer-all,
.footer-price,
.buy-btn {
    margin-top: 20px;
}
.footer-price {
    font-size: 1.6rem;
    color: var(--primary);
    padding: 0 10px;
}
.footer-buy {
    width: 120px;
    padding: 10px 0;
    text-align: center;
    font-size: 1.6rem;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 6px;

    &:hover {
        cursor: pointer;
        background-color: (--primary-hover);
    }
}
.wrapper-no {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cart-img {
    width: 300px;
    height: auto;
}
.cart-heading {
    font-size: 30px;
    color: var(--text-color);
    margin: 20px 0;
}
.cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    color: var(--white);
    background-color: var(--primary);
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 20px;
}
.infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 30px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.address {
}
.address-header,
.pay-name {
    font-size: 2rem;
}
.address-content {
}
.address-content-name {
    margin-top: 10px;
}
.address-content-tel {
    margin: 5px 0;
}
.address-content-tel,
.address-content-add {
    font-size: 1.4rem;
}
.pay {
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    align-items: center;
    background-color: var(--white);
    margin-bottom: 30px;
}
.pay-name {
    margin: 0 20px 0 10px;
}
.button-pay {
    display: flex;
    // flex-direction: column;
}
.button-submit {
    outline: none;
    // background-color: var(--primary);
    background-color: var(--white);
    margin: 12px 4px;
    padding: 8px 10px;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
    border: 1px solid #333;
    width: 200px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-new);
    }
    &.active {
        border: 1px solid var(--primary);
    }
}
.buy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 35px;
    background-color: var(--primary);
    border-radius: 3px;
    color: var(--white);
    margin-right: 14px;

    &:hover {
        cursor: pointer;
        background-color: var(--primary-hover);
    }
}
