.wrapper {
  margin-left: 50px;
}
.form-group {
  display: flex;
  //   flex-direction: column;
}
.form-submit--category {
  padding: 10px 20px;
  background-color: var(--primary);
  border-radius: 6px;
  color: var(--white);
  margin-left: 10px;
}
