.wrapper {
    margin-bottom: 10px;
    margin-left: 10px;
}
.message {
    display: flex;
    gap: 10px;
    align-items: center;
    // padding-top: 30px;
    &.owner {
        flex-direction: row-reverse;
        margin-right: 10px;
        .message-content {
            align-items: flex-end;
            .message-content-item {
                // background-color: #8da4f1;

                background: linear-gradient(45deg, #3386ff, #0068ff);
                color: var(--white);
                border-radius: 12px 4px 12px 12px;
            }
            // .message-content-image {
            //     width: 100px;
            //     height: 150px;
            //     border-radius: 10px;
            // }
        }
    }
}

.message-info {
    display: flex;
    flex-direction: column;

    span {
        color: gray;
        font-size: 1.2rem;
        font-weight: 300;
    }
}
.message-info-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.message-content {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    img {
        width: 50%;
    }
}
.message-content-item {
    font-size: 1.8rem;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 8px 16px;
    border-radius: 4px 12px 12px 12px;
    background-color: var(--white);
    border: 1px solid #ccc;
    max-width: 260px;
    // max-width: max-content;
    // max-width: 80%;
    // display: flex;
    // flex-direction: column;
}
.message-content-image {
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 500px;
    max-width: 100%;
    border-radius: 10px;
}
.message-content-time {
    // color: #626364;
    color: #65676b;
    font-size: 1rem;
}
