.wrapper {
  width: 200px;
  padding: 0px 0 26px 0;
  background-color: var(--white);
  // box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  border: 1px solid rgba(22, 24, 35, 0.03);
  height: 630px;
  display: flex;
  align-items: center;
  // position: fixed;
  // top: 0;
  // bottom: 0;
  // // z-index: 10;
  // padding-right: 50px;
}
