.wrapper {
  margin-left: 50px;
}
.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.heading-name {
  font-size: 2.6rem;
  color: var(--text-color);
}
.heading-link {
  cursor: pointer;
  font-size: 1.8rem;
  padding: 8px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 6px;
}
.heading-icon {
  margin-right: 10px;
}
.body {
  //   margin-top: 30px;
}
.classify {
  display: flex;
  // justify-content: center;
  width: 100%;
  align-items: center;
  padding-left: 10px;
  // box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  box-shadow: 0 0 0 2px #f5f5f5;
  background-color: var(--white);
}
.classify-btn {
  width: 100px;
  height: 50px;
  background-color: var(--white);
  margin-right: 30px;
  font-size: 1.6rem;
  color: var(--text-color);
  cursor: pointer;
  &.active {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
  }
  // border: 1px solid var(--primary);
}
.render {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
