.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 6px;
  // width: 238px;
  height: 360px;
  width: 100%;
  // height: auto;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  margin-bottom: 20px;

  // &:hover {
  //   box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.5);
  // }
}
.container {
  padding: 10px;
}
.wrapper-img {
  width: 100%;
  text-align: center;
}
.img {
  // width: 200px;
  width: 100%;
  height: 200px;
  object-fit: contain;
  text-align: center;
}
.info {
  padding-top: 10px;
}
.name {
  font-size: 1.6rem;
  line-height: 1.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3.6rem;
  font-weight: 500;
  color: (--text-color);
}
.promotion {
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
}
.price-old {
  color: #ccc;
  font-size: 1.4rem;
  position: relative;
  text-decoration-line: line-through;
}
.price-percent {
  color: var(--primary);
  font-size: 1.2rem;
}
.price-new {
  font-size: 1.6rem;
  color: var(--text-color);
  margin-top: 10px;
}
@media (max-width: 739px) {
  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 6px;
    // width: 238px;
    height: 180px;
    width: 100px;
    // height: auto;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    margin-bottom: 20px;
  }
  .container {
    padding: 4px;
  }
  .wrapper-img {
    width: 100%;
    text-align: center;
  }
  .img {
    // width: 200px;
    width: 100%;
    height: 100px;
    object-fit: contain;
    text-align: center;
  }
  .info {
    padding-top: 4px;
  }
  .name {
    font-size: 1rem;
    line-height: 1.2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 3rem;
    font-weight: 500;
    color: (--text-color);
  }
  .promotion {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
  }
  .price-old {
    color: #ccc;
    font-size: 1rem;
    position: relative;
    text-decoration-line: line-through;
  }
  .price-percent {
    color: var(--primary);
    font-size: 0.8rem;
  }
  .price-new {
    font-size: 1rem;
    color: var(--text-color);
    margin-top: 4px;
  }
}
