.wrapper {
    // position: relative;
    display: flex;
    flex-direction: column;
}
.header {
    flex: 0 0 auto;
    width: 420px;
    // background-color: rgb(216, 176, 232);
    color: var(--primary);
    font-weight: 700;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    // background: linear-gradient(45deg, #3386ff, #0068ff);
    // background-color: #242526;
    background-color: var(--white);
    border: 1px solid #ccc;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // z-index: 10;
    margin-bottom: 0px;
}
.content {
    flex: 0 0 auto;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    // margin-top: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 63.5vh;
    background-color: var(--white);
    // background-color: #242526;
    display: flex;
    flex-direction: column-reverse;
}
.content-item {
    // margin-top: 50px;
    // overflow-y: scroll;
}
.expanded-image-overlay {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // position: fixed;
    // top: -100%;
    // bottom: 100%;
    // right: 150%;
    // // left: 0;
    // width: 100wh;
    // height: 100vh;
    // // left: 0;
    // background-color: rgba($color: #000, $alpha: 0.2);
    // z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -150%;
    bottom: 100%;
    right: 150%;
    left: -350%;
    width: 120vw;
    height: 150vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}
.expanded-image {
    // position: fixed;
    // top: -100%;
    // bottom: 25%;
    // right: 120%;
    // // left: -100%;
    // max-width: 1000px;
    // height: auto;
    position: fixed;
    top: -60%;
    left: -150%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    height: auto;
}
